@page
@model AniX_WEB.Pages.AnimeDetailModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.AnimeDetails.Anime.Name;
}

@functions {
    public static string TruncateDescription(string description, int maxLength = 150)
    {
        if (string.IsNullOrEmpty(description)) return description;
        return description.Length <= maxLength ? description : description.Substring(0, maxLength) + "...";
    }
    public static string TruncateTitle(string title, int maxLength = 25)
    {
        if (string.IsNullOrEmpty(title)) return title;
        return title.Length <= maxLength ? title : title.Substring(0, maxLength) + "...";
    }

    public static string TruncateRating(double? rating, int maxLength = 4)
    {
        if (rating == null) return "TBA";
        string formattedRating = rating.Value.ToString("F2", System.Globalization.CultureInfo.InvariantCulture);
        return formattedRating.Length <= maxLength ? formattedRating : formattedRating.Substring(0, maxLength);
    }

    private string GetRankClass(int rank)
    {
        return rank switch
        {
            1 => "light-text text-center color-yellow",
            2 => "light-text text-center color-purple",
            3 => "light-text text-center color-grey",
            _ => "light-text text-center"
        };
    }
}

<!--=====================================-->
<!--=      Breadcrumb Area Start        =-->
<!--=====================================-->
<section class="breadcrumb sec-mar">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="grid-view.html">List</a></li>
                <li><a class="active">Trailer</a></li>
            </ul>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=         video Area Start          =-->
<!--=====================================-->
<section class="video sec-mar">
    <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="img-box">
                    <img class="detail-image" src="@Model.AnimeDetails.Anime.CoverImage" alt="">
                <div class="overlay">
                    <a href="#" class="play-btn"><i class="fas fa-play"></i></a>
                </div>
            </div>
            <div class="video-box">
                <div class="video-container">
                        <iframe src="@Model.AnimeDetails.Anime.TrailerLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="video-content bg-color-black">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                        <p>You're watching <b>@Model.AnimeDetails.Anime.Name</b>. <br> What do you think about this anime?</p>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="rating-container">
                        <div class="rating-container__items">
                            <input type="radio" name="stars" id="st5">
                            <label for="st5">
                                <div class="rating-star-stroke">
                                    <div class="rating-star-fill"></div>
                                </div>
                                <div class="rating-label-description" data-content="Excellent"></div>
                            </label>
                            <input type="radio" name="stars" id="st4">
                            <label for="st4">
                                <div class="rating-star-stroke">
                                    <div class="rating-star-fill"></div>
                                </div>
                                <div class="rating-label-description" data-content="Good"></div>
                            </label>
                            <input type="radio" name="stars" id="st3">
                            <label for="st3">
                                <div class="rating-star-stroke">
                                    <div class="rating-star-fill"></div>
                                </div>
                                <div class="rating-label-description" data-content="OK"></div>
                            </label>
                            <input type="radio" name="stars" id="st2">
                            <label for="st2">
                                <div class="rating-star-stroke">
                                    <div class="rating-star-fill"></div>
                                </div>
                                <div class="rating-label-description" data-content="Bad"></div>
                            </label>
                            <input type="radio" name="stars" id="st1">
                            <label for="st1">
                                <div class="rating-star-stroke">
                                    <div class="rating-star-fill"></div>
                                </div>
                                <div class="rating-label-description" data-content="Terrible"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-0">
                    <div class="align-middle actions">
                        <a href="" class="anime-btn btn-dark border-change mb-2">RATE NOW</a>
                            <p class="text">RATING: @TruncateRating(@Model.AnimeDetails.AverageRating) <b>/10</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-6 col-12">
                        <div class="trailer-box">
                                <img src="@Model.AnimeDetails.Anime.CoverImage" alt="" class="image">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-6 col-12">
                        <div class="trailer-content">
                                <h2>@Model.AnimeDetails.Anime.Name</h2>
                                <p class="light-text">Season @Model.AnimeDetails.Anime.Season</p>
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                                    <svg width="32" height="22" viewBox="0 0 32 22" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <rect x="0.145264" y="0.00012207" width="21.4395" height="2.68125"
                                              rx="1.34062" fill="#999999" />
                                        <rect x="0.145264" y="7.41272" width="21.4395" height="2.68125"
                                              rx="1.34062" fill="#999999" />
                                        <rect x="0.145264" y="14.8258" width="16.4914" height="2.68125"
                                              rx="1.34062" fill="#999999" />
                                        <path d="M19.8784 16.0712C19.8784 15.4163 20.4093 14.8854 21.0642 14.8854H30.2463C30.9011 14.8854 31.432 15.4163 31.432 16.0712C31.432 16.7261 30.9011 17.257 30.2463 17.257H21.0642C20.4093 17.257 19.8784 16.7261 19.8784 16.0712Z"
                                              fill="#999999" />
                                        <path d="M25.6552 22.0001C25.0171 22.0001 24.4999 21.4828 24.4999 20.8447V11.2977C24.4999 10.6596 25.0171 10.1423 25.6552 10.1423C26.2933 10.1423 26.8106 10.6596 26.8106 11.2977V20.8447C26.8106 21.4828 26.2933 22.0001 25.6552 22.0001Z"
                                              fill="#999999" />
                                    </svg>
                                </button>
                                <ul class="dropdown-menu bg-color-black pt-3 pb-3 ps-3 pe-3">
                                    <li>
                                        <a href="" class="none"><i class="fa fa-check"></i> Watch Later </a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fas fa-plus"></i> Add to Playlist </a>
                                    </li>
                                </ul>
                            </div>
                            <h3>Plot Summary</h3>
                                <p>@Model.AnimeDetails.Anime.Description</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="rating-content">
                            <h4>RATE THE SHOW</h4>
                            <p>YOUR RATING: <b>??/10</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="trailer-content">
                    <h3>DETAILS</h3>
                    <p><span>Type:</span> <b>@Model.AnimeDetails.Anime.Type</b></p>
                    <p><span>Country:</span> <b>@Model.AnimeDetails.Anime.Country</b></p>
                    <p><span>Genre:</span> <b>@string.Join(", ", Model.AnimeDetails.Genres.Select(g => g.Name))</b></p>
                    <p><span>Date aired:</span> <b>@Model.AnimeDetails.Anime.ReleaseDate?.ToString("MMM dd, yyyy")</b></p>
                    <p><span>Status:</span> <b>@Model.AnimeDetails.Anime.Status</b></p>
                    <p><span>Scores:</span> <b>@Model.AnimeDetails.AverageRating by @Model.AnimeDetails.NumberOfReviews reviews</b></p>
                    <p><span>Premiered:</span> <b>@Model.AnimeDetails.Anime.Premiered</b></p>
                    <p><span>Episodes:</span> <b>@Model.AnimeDetails.Anime.Episodes</b></p>
                    <p><span>Studio:</span> <b>@Model.AnimeDetails.Anime.Studio</b></p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--=====================================-->
<!--=         Comment Area Start        =-->
<!--=====================================-->
<section class="comment sec-mar">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="comment-block">
                    <div class="heading style-1 m-0">
                        <h2>REVIEWS</h2>
                    </div>
                    <p>
                        We hope you have a good time browsing the review section! <br>
                        Please read our <a href="./comments.html">Review Policy</a> before leaving a review.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-1 col-2">
                        <img src="./assets/media/profile/profile.png" alt="">
                    </div>
                    <div class="col-lg-11 col-10">
                        <form action="streaming-season.html">
                            <div class="input-group form-group footer-email-box">
                                <input class="form-control" type="text" name="post"
                                       placeholder="Join the discussion">
                                <button class="input-group-text post-btn" type="submit">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="site-comment">
                    @if (Model.AnimeDetails.Reviews != null && Model.AnimeDetails.Reviews.Any())
                    {
                        @foreach (var review in Model.AnimeDetails.Reviews)
                        {
                            <div class="row">
                                <div class="col-lg-1 col-2">
                                    <img style="width: 51px; height: 51px; object-fit: cover; border-radius: 10px;" src="@review.User.ProfileImagePath" alt="@review.User.Username"/>
                                </div>
                                <div class="col-lg-11 col-10">
                                    <h5>@review.User.Username</h5>
                                    <p>@review.Text</p>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No reviews available for this anime.</p>
                    }
@*                     <div class="text-center">
                        <a href="" class="comment-btn">Load More Comments</a>
                    </div>
                    <hr> *@
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 offset-lg-0 offset-md-3 offset-sm-2 mt-lg-0 mt-3">
                <h3 class="small-title">SIMILAR</h3>
                <div class="anime-box bg-color-black">
                    <a href="streaming-season.html">
                        <div class="row m-0">
                            <div class="p-0 col-2">
                                <img src="assets/media/anime-sm-img/anime-img-7.png" alt="">
                            </div>
                            <div class="p-0 col-9">
                                <div class="anime-blog">
                                    <p>86</p>
                                    <p class="text-box">★ 8.32</p>
                                    <p class="text-box">PG 13</p>
                                </div>
                            </div>
                            <div class="p-0 col-1 show-type">
                                <span class="show-type">TV</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="anime-box bg-color-black">
                    <a href="streaming-season.html">
                        <div class="row m-0">
                            <div class="p-0 col-2">
                                <img src="assets/media/anime-sm-img/anime-img-8.png" alt="">
                            </div>
                            <div class="p-0 col-9">
                                <div class="anime-blog">
                                    <p>Re-Zero</p>
                                    <p class="text-box">★ 8.49</p>
                                    <p class="text-box">PG 18</p>
                                    <p class="text-box active">18+</p>
                                </div>
                            </div>
                            <div class="p-0 col-1 show-type">
                                <span class="show-type">TV</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="anime-box bg-color-black">
                    <a href="streaming-season.html">
                        <div class="row m-0">
                            <div class="p-0 col-2">
                                <img src="assets/media/anime-sm-img/anime-img-9.png" alt="">
                            </div>
                            <div class="p-0 col-9">
                                <div class="anime-blog">
                                    <p>Tokyo Ghoul</p>
                                    <p class="text-box">★ 7.90</p>
                                    <p class="text-box">PG 13</p>
                                </div>
                            </div>
                            <div class="p-0 col-1 show-type">
                                <span class="show-type">TV</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="anime-box bg-color-black">
                    <a href="streaming-season.html">
                        <div class="row m-0">
                            <div class="p-0 col-2">
                                <img src="assets/media/anime-sm-img/anime-img-10.png" alt="">
                            </div>
                            <div class="p-0 col-9">
                                <div class="anime-blog">
                                    <p>Sword Art Online</p>
                                    <p class="text-box">★ 8.50</p>
                                    <p class="text-box">PG 13</p>
                                </div>
                            </div>
                            <div class="p-0 col-1 show-type">
                                <span class="show-type">TV</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="anime-box bg-color-black">
                    <a href="streaming-season.html">
                        <div class="row m-0">
                            <div class="p-0 col-2">
                                <img src="assets/media/anime-sm-img/anime-img-11.png" alt="">
                            </div>
                            <div class="p-0 col-9">
                                <div class="anime-blog">
                                    <p>Sword Art Online: Alicization</p>
                                    <p class="text-box">★ 8.12</p>
                                    <p class="text-box">PG 13</p>
                                </div>
                            </div>
                            <div class="p-0 col-1 show-type">
                                <span class="show-type">TV</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="anime-box bg-color-black">
                    <a href="streaming-season.html">
                        <div class="row m-0">
                            <div class="p-0 col-2">
                                <img src="assets/media/anime-sm-img/anime-img-12.png" alt="">
                            </div>
                            <div class="p-0 col-9">
                                <div class="anime-blog">
                                    <p>One Piece</p>
                                    <p class="text-box">★ 8.70</p>
                                    <p class="text-box">PG 13</p>
                                </div>
                            </div>
                            <div class="p-0 col-1 show-type">
                                <span class="show-type">TV</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>